<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinezx.shortlink.mapper.CallbackMapper">

    <resultMap id="CallbackInfoMap" type="com.sinezx.shortlink.pojo.CallbackInfo">
        <result property="id" column="id"/>
        <result property="createSn" column="create_sn"/>
        <result property="code" column="code"/>
        <result property="content" column="content"/>
        <result property="callbackUrl" column="callback_url"/>
        <result property="createTime" column="create_time"/>
        <result property="expireTime" column="expire_time"/>
    </resultMap>

    <select id="selectAll" resultMap="CallbackInfoMap">
        select * from callback_info;
    </select>

    <insert id="insertOne">
        insert into callback_info(create_sn, code, content, callback_url, create_time, expire_time)
        value (#{createSn}, #{code}, #{content}, #{callbackUrl}, now(), date_add(now(), interval #{expire}
        <choose>
            <when test="expireType == 'DAY'">
                DAY
            </when>
            <when test="expireType == 'HOUR'">
                HOUR
            </when>
            <otherwise>
                DAY
            </otherwise>
        </choose>
        ));
    </insert>

    <select id="selectOneByCreateSn" resultMap="CallbackInfoMap">
        select create_sn, code, content, callback_url, create_time, expire_time
        from callback_info
        where create_sn = #{createSn}
    </select>

    <select id="selectOneByCode" resultMap="CallbackInfoMap">
        select create_sn, code, content, callback_url, create_time, expire_time
        from callback_info
        where code = #{code}
    </select>

    <delete id="deleteExpireShortlink">
        delete from callback_info
        where expire_time &lt; now()
    </delete>
</mapper>